<div class="container-formation">

    <div class="titre-section">Formation</div>

    <p-timeline [value]="formation" layout="vertical" class="formation">
        <ng-template pTemplate="content" let-f>
            <div class="diplome">
                <div class="titre">{{f.titre}}</div>
                <div class="ecole">{{f.ecole}}</div>
            </div>
        </ng-template>
        <ng-template pTemplate="opposite" let-f>
            <div class="diplome">
                <div class="date">{{f.date}}</div>
            </div>
        </ng-template>
    </p-timeline>
</div>