.container-formation {
    margin: 100px 0;
    background-image: url('/assets/images/fond/fond-formation.png');
    background-color: var(--image-background-color);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 50px;

    .titre-section {
        margin-bottom: 50px;
        font-size: var(--title-font-size);
        text-align: center;
    }

    .formation {
        margin: auto;

        .p-timeline {
            .p-timeline-event {
                margin-bottom: 20px;

                .p-timeline-event-marker {
                    background-image: url('/assets/images/fond/degree.svg');
                    width: 30px;
                    height: 30px;
                    background-size: cover;
                    border: 2px solid cyan;
                }
            }
        }

        .diplome {
            box-shadow: inset;
            padding: 0 20px;
            border-radius: 50px;
            margin-bottom: 50px;

            .titre,.date {
                font-size: 1.2em;
            }

            .ecole {
                font-size: 1.2em;
                font-style: italic;
            }
        }

        .diplome:last-child{
            margin-bottom: 0;
        }
    }
}