.container {
    margin: 100px 0;
    background-image: url('/assets/images/fond/fond-formation.png');
    background-color: var(--image-background-color);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 50px;

    .titre-section {
        margin-bottom: 50px;
        font-size: 2em;
        text-align: center;
    }

    .formation {
        display: flex;
        justify-content: space-evenly;

        .diplome {
            width: 30%;
            border: 2px solid cyan;
            box-shadow: inset;
            padding: 10px;
            text-align: center;
            border-radius: 5px;

            .titre {
                font-size: 1.5em;
            }

            .ecole {
                font-size: 1.2em;
                font-style: italic;
            }

            .date {
                font-size: 1.2em;
            }
        }
    }
}