<div class="container">

    <div class="titre-section">Formation</div>

    <div class="formation">
        <div class="diplome">
            <div class="titre">Master 2 Ingénierie Logicielle</div>
            <div class="ecole">Université de Rennes</div>
            <div class="date">2022</div>
        </div>
        <div class="diplome">
            <div class="titre">Master 1 Informatique</div>
            <div class="ecole">Université de la Réunion</div>
            <div class="date">2021</div>
        </div>
        <div class="diplome">
            <div class="titre">Licence Informatique</div>
            <div class="ecole">Université de la Réunion</div>
            <div class="date">2020</div>
        </div>
    </div>
</div>