/* You can add global styles to this file, and also import other style files */

:root {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
    max-width: 100vw;
    
}