.cell {
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    img {
        width: 60px;
        height: 60px;
    }

    .nom {
        color: white;
        text-align: center;
    }
}
