@media (max-width: 600px) {
    .home {
        margin-top: 150px;
        height: fit-content;
        background: var(--background);

        .info,
        .image {
            width: 100%;
            text-align: center;
        }

        .info {
            font-size: 1em;
            align-self: center;
            justify-content: start;
            text-align: justify;
        }

        .image {

            img {
                max-width: 200px;
                max-height: 200px;
                border-radius: 100%;
                border: 5px solid rgb(9, 9, 116);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                filter: drop-shadow(0 0 10px var(--color));
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .home {
        margin-top: 150px;
        height: 400px;
        background: var(--background);

        .info,
        .image {
            width: 100%;
            text-align: center;
       }

        .info {
            font-size: 1em;
            align-self: center;
            justify-content: center;
        }

        .image {
 
            img {
                max-width: 400px;
                max-height: 400px;
                border-radius: 100%;
                border: 5px solid rgb(9, 9, 116);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                filter: drop-shadow(0 0 10px var(--color));
            }
        }
    }
}

@media (min-width: 1201px) {
    .home {
        margin-top: 150px;
        height: 400px;
        background: var(--background);
        display: flex;

        .info,
        .image {
            width: 50%;
        }

        .info {
            height: 60%;
            font-size: 1em;
            text-align: justify;
            align-self: center;
            justify-content: center;
        }

        .image {
            img {
                margin-left: 50px;
                max-width: 400px;
                max-height: 400px;
                border-radius: 100%;
                border: 5px solid rgb(9, 9, 116);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                filter: drop-shadow(0 0 10px var(--color));
            }
        }
    }
}

.about{
    font-size: 2em;
}

strong {
    color: rgb(104, 104, 235);
}

.icons {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    .icon {
        cursor: pointer;

        img {
            max-width: 40px;
            max-height: 40px;
        }
    }
}