<div class="home">
  <div class="image">
    <img [src]="'/assets/images/moi.jpg'" alt="image">
  </div>
  <div class="info">
    <div class="about">A propos de moi</div> <br>
    Je suis développeur Web et Mobile passioné par les nouvelles technologies et par la création d'applications modernes et intuitives qui répondent aux besoins des utilisateurs. 
    À travers ce portfolio, je vous invite à découvrir mes projets, mes compétences techniques, et ma vision du développement axée sur l'innovation et l'expérience utilisateur.<br>

    <div class="icons">
      <a class="icon" target="_blank" href="https://github.com/GuillaumeSUBRA1"><img [src]="'/assets/icons/sites/github.svg'" alt="github"></a>
      <a class="icon" target="_blank" href="https://www.linkedin.com/in/guillaume-subra-622689139"><img [src]="'/assets/icons/sites/linkedin.svg'" alt="linkedin"></a>
    </div>
  </div>
</div>