<div class="home">
  <div class="info">
    <div class="about">A propos de moi</div> <br>
    Je suis développeur Web et Mobile passioné les nouvelles technologies et passionné par la création de solutions.<br>

    <div class="icons">
      <a class="icon" href="https://github.com/GuillaumeSUBRA1"><img [src]="'/assets/icons/sites/github.svg'" alt="github"></a>
      <a class="icon" href="https://www.linkedin.com/in/guillaume-subra-622689139"><img [src]="'/assets/icons/sites/linkedin.svg'" alt="linkedin"></a>
    </div>
  </div>
  <div class="image">
    <img [src]="'/assets/images/moi.jpg'" alt="image">
  </div>
</div>