.top-bar {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(5px);


    .title,
    .menus{
        display: flex;
    }

    .title {
        width: 50%;
        font-size: 1.5em;
    }

    .menus{
        width: 50%;
        justify-content: end;

        .menu{
            cursor: pointer;
            font-size: 1.2em;
            margin-left: 20px;
        }
    }
}